/* Layout */
.content {
    display: flex;
    width: 90%;
    margin: 20px auto;
  }
  
  /* Upload Button */
  .open-modal-btn {
    display: flex;
    justify-content: flex-end;
    background: #fdcf6f;
    color: #0c756f;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
  