/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* background: #ddd; */
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    color: #333;
  }